[submodule "configuration-ui"]
	path = configuration-ui
	url = git@github.com:hpides/Configuration-UI.git
[submodule "request-generator"]
	path = request-generator
	url = git@github.com:hpides/Request-Generator.git 
[submodule "performance-data-storage"]
	path = performance-data-storage
	url = git@github.com:hpides/Performance-Data-Storage.git
[submodule "material-pdgf"]
	path = material-pdgf
	url = git@github.com:hpides/PDGF-UI.git
